:root {
  --body-txt: #333333;
  --body-link: #2780e3;
  --body-red: #ff0039;
  --button-color_1: #53a6be;
  --background_1: #fdfdfd;
  --background_2: #f9f9f9;
  --background_2: #efefef;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-txt);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
